#principal {
  background-image: url(../img/bckground.png);
}
#secundaria {
  background-image: url(../img/bckground3.png);
}
#htweb {
  background-image: url(../img/bg5.png);
}
body {
  width: 98%;
  height: 830px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}
.titulo img {
  width: 800px;
}
.cesped {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/grass.png);
  background-size: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Boton Inicio */
@font-face{font-family:SilkscreenNormal;src:url(slkscr.ttf),url(slkscr.eot);font-weight:400;font-style:normal;}

.wrapper{
  width: auto;
   max-width: 1026px;
   margin: 0 auto;
   word-wrap: break-word;
}
.button{
  height: 40px;
  width: 405px;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  background: url('../img/btn1.png') no-repeat;
  font-family: SilkscreenNormal;
  line-height: 26px;
  padding-top: 6px;
}
.login{
  height: 40px;
  width: 402px;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  background: url('../img/text-input.png') no-repeat;
  background-image: url('../img/text-input.png') no-repeat;
  background-size: 405px;
  font-family: SilkscreenNormal;
  font-size: medium;
  line-height: 26px;
  border: 0;
  margin: 0px;
}
.login:hover, input:focus{
  border: 0;
  outline: none;
}
.button:hover{
  background: url('../img/btn2.png') no-repeat;
}
/* Fin Boton Inicio */

.alerta {
  color: white;
  font-family: SilkscreenNormal;
  font-size: medium;
  line-height: 26px;
  background-color: red;
  width: 270px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
}
@keyframes alertafade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation: idle 1s infinite;
  }
}
@keyframes idle {
  100%{
    opacity: 1;
  }
}


#volvertemp {
  position: absolute;
  bottom: 50px;
}

.fotosinsesis {
  position: absolute;
  top: 730px;
  left: 1185px;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}

.container-pags-selec {
  position: absolute;
  left: 40%;
  top: 13%;
}

.container-interior-pag-selec {
  width: 710px;
  height: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pag-selec {
  width: 700px;
  height: 180px;
  border-radius: 10px;
  margin: 0;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform .1s ease-in-out;
}
.pag-selec:hover {
  /*width: 705px;
  height: 185px;*/
  margin-top: -1px;
  margin-left: -1px;
  transform: scale(1.05);
}
.pag-selec:hover .imagenes-pag {
  width: 405px;
}
.imagenes-pag {
  width: 400px;
}
#pag-mods {
  background-image: url(../img/grass.png);
  background-size: 400px;
}
#pag-eventos {
  background-image: url(../img/zombies.png);
  background-size: 600px;
}
#pag-normas {
  background-image: url(../img/Blank_Sign.png);
  background-size: 400px;
}

#edilunMOD {
  height: 160px;
  position: relative;
  margin-bottom: -10px;
  margin-left: -20px;
}

#barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 600px;
  margin-top: 100px;
  margin-left: -80px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: rgb(141, 141, 141);
}
#lateral {
  left: 0px;
  width: 200px;
  height: 1100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-interior-selectores-lat {
  width: 190px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgb(141,141,141);
  border: 5px solid black;
  border-radius: 15px;
  transition: transform .1s ease-in-out;
}
.container-interior-selectores-lat:hover {
  transform: translateX(20px);
}
.container-interior-selectores-lat > div {
  margin-right: 30px;
}
.imagen-selectores-lat {
  width: 100px;
}


.container-usuario {
  width: 140px;
  height: 140px;
  background-image: url(../img/item-frame.png);
  background-size: 140px;
  z-index: -2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#dudaweb-usuario {
  position: absolute;
  top: 125px;
  left: -2px;
}
#menu-usuario {
  position: absolute;
  top: 0px;
  left: -2px;
}
#foto_usuario {
  margin-top: 32px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  z-index: -1;
}
.nombre-usuario {
  width: 150px;
  height: 50px;
  margin-left: -5px;
  border: 1px solid black;
  background-image: url(../img/etiqueta-anvil.png);
  background-size: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-family: SilkscreenNormal;
  font-size: medium;
  line-height: 26px;
}